Start all chat with 🚀

## Stack

- Sveltekit
- Svelte 5
- Tailwind CSS 4
- Typescript
- shadcn-svelte
- Drizzle
- pnpm
- Supabase
- Lucide-svelte

## Rules

Keep the rules in .cursor/rules in sync with the rules here.
